<div>
  <div class="container sidebar">
    
    <div class="sidebar-about">
      <h3><a href="{{ url }}">Christopher B. Martin, PhD</a></h3>
      <p style="font-size:13px">
      <i>Sr. Staff Engineer, Platform Data Scientist at Ayar Labs |
         Engineering Data, Statistics, Python |
         AI Enablement |
         Experimental Particle Physics (PhD)
         </i><br />
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </p>
      <center><img src="/assets/images/profile.jpg" alt="profile picture" class="responsive"></center>
    </div>

    <div class="sidebar-nav">
      <a class="sidebar-nav-item" href="/index.html" {% if page.active == 'about_me' %}style="font-weight:bold"{% endif %}>About me</a>
      <a class="sidebar-nav-item" href="/about.html" {% if page.active == 'about_blog' %}style="font-weight:bold"{% endif %}>Why blog?</a>
      <a class="sidebar-nav-item" href="/blog.html" {% if page.active == 'blog' %}style="font-weight:bold"{% endif %}>Blog</a>
      <a class="sidebar-nav-item" href="/publications.html" {% if page.active == 'publications' %}style="font-weight:bold"{% endif %}>Publications</a>
      <a class="sidebar-nav-item" href="https://www.linkedin.com/in/chmartinprof">LinkedIn</a>
    </div>


<div id="social">
    {% include social.html %}
</div>

<div>
    <br>
</div>

  </div>
</div>
